Repository minthe/ft_transcendence, changes with the owners that .github/CODEOWNERS names for each.
All owners: @minthe, @cryptoclown132, @kris-bo, @mariekart42, @NULL-Term1nat0r

test
  docker-compose.yml
  ms_modsec/Dockerfile
  ms_modsec/Makefile
  ms_modsec/REQUEST-900-EXCLUSION-RULES-BEFORE-CRS.conf
  ms_modsec/RESPONSE-999-EXCLUSION-RULES-AFTER-CRS.conf
  ms_modsec/docker-compose.yml
  ms_modsec/html/errPages/error403.html
  ms_modsec/html/errPages/error404.html
  ms_modsec/html/errPages/error405.html
  ms_modsec/html/errPages/error408.html
  ms_modsec/html/errPages/error502.html
  ms_modsec/modsecurity.conf
  ms_modsec/nginx.conf
  ms_modsec/nginx_start.sh
  ms_modsec/setup.sh
  ms_modsec/test.conf
Owners: none

removed tourns from regular invites
  a.out
  ms_frontend/root/src/js/spa_logic.js
  ms_frontend/root/src/js/websocket/websocket.js
  ms_game_chat/backend/backend_app/consumer/game/game.py
  sm.c
Owners: none

fix: 2fa validation checks
  a.out
  ms_auth/api/api_account.py
  ms_auth/api/api_avatar.py
  ms_auth/api/api_profile.py
  ms_auth/api/api_second_factor.py
  ms_auth/api/api_status.py
  ms_auth/api/api_token.py
  ms_auth/api/serializers.py
  ms_auth/mail/views.py
  ms_auth/user/views.py
  sm.c
Owners: none

new err fix for 2fa verify
  ms_frontend/root/src/index.html
  ms_frontend/root/src/js/auth/2fa.js
  ms_frontend/root/src/js/auth/login.js
  ms_frontend/root/src/js/load/spa_logic.js
Owners: none

fix: Remove .vscode folder
  .dockerignore
  .vscode/c_cpp_properties.json
  .vscode/launch.json
  .vscode/settings.json
Owners: none

added .vscode to gitignore
  .gitignore
Owners: none

game clean
  .dockerignore
  .gitignore
  ms_game_chat/README.md
  ms_game_chat/backend/backend/settings.py
  ms_game_chat/backend/backend/urls.py
  ms_game_chat/backend/backend_app/admin.py
  ms_game_chat/backend/backend_app/apps.py
  ms_game_chat/backend/backend_app/models.py
  ms_game_chat/backend/backend_app/routing.py
  ms_game_chat/backend/backend_app/urls.py
  ms_game_chat/backend/backend_app/utils.py
  ms_game_chat/backend/backend_app/views.py
  ms_game_chat/backend/templates/goToFrontend.html
  ms_game_chat/debug.sh
  ms_game_chat/testing_stage.sh
Owners: @kris-bo, @mariekart42

debug flag from env, ws game_chat clean
  ms_frontend/root/src/js/websocket/websocket.js
  ms_game_chat/backend/backend/settings.py
  ms_game_chat/backend/backend_app/consumer/websocket.py
Owners: none

implemented input checks
  ms_game_chat/backend/backend_app/consumer/chat/chats.py
  ms_game_chat/backend/backend_app/consumer/chat/messages.py
  ms_game_chat/backend/backend_app/consumer/chat/user.py
  ms_game_chat/backend/backend_app/consumer/websocket.py
Owners: none

implemented chatbot_trigger
  ms_frontend/root/src/js/websocket/websocket.js
  ms_game_chat/backend/backend_app/consumer/game/game.py
Owners: none

implemented input checks
  ms_game_chat/backend/backend_app/consumer/chat/chats.py
Owners: none

rm console.log line
  ms_frontend/root/src/js/auth/login.js
Owners: none

fix: delete the line in websocket.py where it wants to import utils from backend
  ms_game_chat/backend/backend_app/consumer/websocket.py
Owners: none

nginx.conf fixed
  ms_modsec/nginx.conf
Owners: none

fixed myuser bug in dev
  ms_game_chat/backend/backend_app/consumer/websocket.py
Owners: none

fixed myuser bug in dev
  ms_game_chat/backend/backend_app/consumer/websocket.py
Owners: none

2fa page showing at logout fixed
  ms_frontend/root/src/css/styles.css
  ms_frontend/root/src/html/game.html
  ms_frontend/root/src/js/auth/login.js
  ms_frontend/root/src/js/game_chat/tournament.js
  ms_frontend/root/src/js/load/refresh.js
Owners: none

fixed chat not found error
  ms_frontend/root/src/js/websocket/websocket.js
  ms_game_chat/backend/backend_app/consumer/chat/chats.py
  ms_game_chat/backend/backend_app/consumer/websocket.py
Owners: none

implemented tourn history
  ms_frontend/root/src/html/game.html
  ms_frontend/root/src/js/game_chat/game.js
  ms_frontend/root/src/js/websocket/websocket.js
  ms_game_chat/backend/backend_app/consumer/game/game.py
  ms_game_chat/backend/backend_app/consumer/websocket.py
Owners: none

improved disconnect behaviour
  ms_game_chat/backend/backend_app/consumer/game/game.py
  ms_game_chat/backend/backend_app/consumer/websocket.py
Owners: none

added check if the game is not over
  ms_game_chat/backend/backend_app/consumer/game/game.py
Owners: none

rm console.log from refresh.js
  ms_frontend/root/src/js/load/refresh.js
Owners: none

fixed myuser bug in dev
  ms_frontend/root/src/js/websocket/websocket.js
  ms_game_chat/backend/backend_app/consumer/chat/chats.py
  ms_game_chat/backend/backend_app/consumer/chat/messages.py
  ms_game_chat/backend/backend_app/consumer/websocket.py
Owners: none

tour empty display
  ms_frontend/root/src/css/styles.css
  ms_frontend/root/src/html/game.html
  ms_frontend/root/src/js/game_chat/tournament.js
Owners: none

added tourn stats
  ms_game_chat/backend/backend_app/consumer/game/game.py
Owners: none

invites deleted after game
  ms_frontend/root/src/js/game_chat/game.js
Owners: none

tourn stats added
  ms_frontend/root/src/html/game.html
  ms_frontend/root/src/html/stats.html
  ms_frontend/root/src/js/game_chat/game.js
  ms_frontend/root/src/js/user/stats_history.js
  ms_frontend/root/src/js/websocket/websocket.js
Owners: none

var init
  ms_frontend/root/src/js/auth/auth_utils.js
  ms_frontend/root/src/js/websocket/websocket.js
  ms_game_chat/backend/backend_app/consumer/game/game.py
Owners: none

feat: return 400 if oauth2 service is down
  ms_auth/api/api_account.py
Owners: none

fixed cls.stable_game_id, game_id datatype, group names
  ms_frontend/root/src/js/websocket/websocket.js
  ms_game_chat/backend/backend_app/consumer/game/game.py
  ms_game_chat/backend/backend_app/consumer/websocket.py
Owners: none

ball step incr
  ms_game_chat/backend/backend_app/consumer/game/game.py
Owners: none

updated to 1.9.13
  docs/openapi/ms-auth.yaml
Owners: none

some fix for 2fa status change
  ms_frontend/root/src/js/auth/42login.js
  ms_frontend/root/src/js/auth/logout.js
  ms_frontend/root/src/js/game_chat/chat.js
  ms_frontend/root/src/js/game_chat/game.js
  ms_frontend/root/src/js/load/loadFiles.js
  ms_frontend/root/src/js/load/refresh.js
  ms_frontend/root/src/js/load/spa_logic.js
  ms_frontend/root/src/js/user/profile.js
  ms_frontend/root/src/js/utils/effects.js
Owners: none

added err 500 handling to login42 and no click error on login screen
  ms_frontend/root/src/js/auth/42login.js
  ms_frontend/root/src/js/load/spa_logic.js
Owners: none

fix: oauth2 error handling
  docs/openapi/ms-auth.yaml
  ms_auth/api/api_account.py
Owners: none

fix: oauth2 error handling
  ms_auth/api/api_account.py
Owners: none

some checks if document exists
  ms_frontend/root/src/index.html
  ms_frontend/root/src/js/auth/auth_utils.js
  ms_frontend/root/src/js/load/refresh.js
Owners: none

final
  example
  ms_auth/django_project/settings.py
  ms_auth/requirements.txt
  ms_hashi_vault/test.py
  ms_hashi_vault/vault/Dockerfile
  ms_hashi_vault/vault/config.hcl
  ms_hashi_vault/vault_store_secrets/Dockerfile
  ms_hashi_vault/vault_store_secrets/docker-compose.yml2
  ms_hashi_vault/vault_store_secrets/vault.py
  postgres/Dockerfile
  postgres/create_vault_cli.sh
  postgres/docker-ensure-initdb.sh
  postgres/docker-entrypoint.sh
  postgres/postgressql.conf
  postgres/requirements.txt
  postgres/set_env.py
  postgres/set_env.sh
  setup_env.sh
Owners: @minthe, @NULL-Term1nat0r

final final vault
  docker-compose.yml
  ms_auth/django_project/settings.py
Owners: none

final final vault
  example
Owners: none

.github/CODEOWNERS:

# Code Review Assignment

/ms_auth/* @minthe

/ms_frontend/* @cryptoclown132

/ms_game_chat/* @kris-bo @mariekart42

/ms_hashi_vault/* @NULL-Term1nat0r

/ms_modsecurity/* @NULL-Term1nat0r
